body {
    background-color: #006699;
    color: white;

}

h1 {
    font-family: Raleway;
    font-size: 20px;
}

p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}


.navbar {
    background: #ffcc00 !important;
    background-color: #ffcc00 !important;
}

#homeimage{
    background-image: url("../img/foto/sverige01.jpg");
    
   min-height: 90vh;
   max-width: 100% !important;
    
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#welcometext{
    font-size: 2.5rem;
    padding-top: 20%;
    color: #006699;
}

.highlight {
    color: #ffcc00;
}

.searchField {
    background-color: #ffcc00;
    padding: 10px;
}

.searchField button{
    background-color: #006699;
    color: #fff;
}

.table button{
    background-color: #006699;
    color: #fff;
}

.resultBox{
    background-color: #ffcc00;
    padding: 10px;
}
.table thead th{
    background-color: #006699;
    border-bottom: none;
}

.table td, .table th{
    border-top: none;
    border-bottom: 1px solid white;
}

.modal .thead {
    background-color: #006699;
}

.modal-title,
.modal-body td,
.toS-blue
{
    color: #006699;
}

/* Hide all class events in Modal on home.php */
.eventsBody{display:none;}


/* Cloak before all data recived */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }
/*Background for text*/
 .yellowCard{
    background: #ffcc00;
    padding:3px;
    margin:10px;

 }