body {
    background-color: #006699;
    color: white;

}

h1 {
    font-family: Raleway;
    font-size: 20px;
}

p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}


.navbar {
    background: #ffcc00 !important;
    background-color: #ffcc00 !important;
}

#homeimage img {
    position: relative;

}

.highlight {
    color: #ffcc00;
}

.modal .thead {
    background-color: #006699;
}

.modal-title,
.modal-body td,
.toS-blue
{
    color: #006699;
}

/* Hide all class events in Modal on home.php */
.eventsBody{display:none;}


/* Cloak before all data recived */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }